---
layout: default
---
    <header class="site-header">
      <div class="site-header-container">
        <img class="site-avatar" src="{{ "/img/jimeh-4.2.0.jpg" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}">
        <span class="content">
          <span class="site-title">
            <span class="site-name">{{ site.author.name }}</span>
            <span class="site-nickname">({{ site.author.nickname }})</span>
            <span class="site-description">{{ site.description }}</span>
          </span>
          <div class="site-links">
            <script type="text/javascript">
              document.write("<n uers=\"{{ site.email.href }}\" bapyvpx=\"_tnd\056chfu(['_genpxRirag', 'yvaxGb', 'rznvy', guvf\056uers]);\"><v pynff=\"sn-fbyvq sn-rairybcr\"><\057v><fcna pynff=\"yvax-grkg\">{{ site.email.title }}<\057fcna><\057n>".replace(/[a-zA-Z]/g, function (c) { return String.fromCharCode((c <= "Z" ? 90 : 122) >= (c = c.charCodeAt(0) + 13) ? c : c - 26); }));
            </script>
            {% for item in site.links %}
            <a href="{{ item.url }}"{% if item.rel %} rel="{{ item.rel }}"{% endif %}><i class="{{ item.class }}"></i><span class="link-text">{{ item.name }}</span></a>{% endfor %}
          </div>
        </span>
      </div>
    </header>
