<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    {% seo title=false %}
    <link rel="shortcut icon" href="/favicon.ico?{{ site.time | date: '%s%N' }}" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png?{{ site.time | date: '%s%N' }}" />
    <link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300|Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
    <link href="/vendor/fa-6.7.1/css/fontawesome.min.css?{{ site.time | date: '%s%N' }}" rel="stylesheet">
    <link href="/vendor/fa-6.7.1/css/brands.min.css?{{ site.time | date: '%s%N' }}" rel="stylesheet">
    <link href="/vendor/fa-6.7.1/css/solid.min.css?{{ site.time | date: '%s%N' }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ " /css/main.css" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}">
  </head>
  <body>
{{ content }}
  </body>
</html>
